:root {
  --color-darkblue: #233264;
  --color-blue: #3c78b4;
  --color-orange: #f07850;
  --color-yellow: #f0c8a0;
  --color-pink: #fad2e6;
  --color-green: #a0d2b4;

  --background-color-yellow: #f4d8bc;
}
