@font-face {
  font-family: 'Garet Book';
  src: url('../assets/fonts/Garet-Book.ttf') format('truetype');
}

.tabs__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.tabs__list_item {
  list-style: none;
}

.tabs__link {
  font-family: 'Garet Book', sans-serif;
  text-decoration: none;
  white-space: nowrap;

  display: block;
  padding: 0.5rem 0.5rem;
  height: 2rem;
  color: #fff;
  border-radius: 0 25% 0 0;
  border: 1px solid #3c78b4;
}

.tabs__link[tabindex='-1'] {
  background-color: #233264;
}

.tabs__link[tabindex='0'] {
  background-color: #3c78b4;
}

.tabs__link:hover {
  background-color: var(--color-orange);
}

.tabpanel {
  background-color: #3c78b4;
  padding: 1rem;
  border: 2px solid #233264;
}

.tabpanel * {
  color: white;
}

// h2 Styling should be set in global styles
.tabpanel h2 {
  font-family: 'Garet Book', sans-serif;
  margin-top: 0;
}
